{% extends "admin/base_site.html" %}
{% block breadcrumbs %}{% endblock %}
{% block extrahead %}{{ block.super }}{% endblock %}
{% block title %}Playlist: {{ playlist.release_title }}{% endblock %}

{% block branding %}
<h1 id="site-name">Playlist: {{ playlist.release_title }}</h1>
{% endblock %}

{% block content %}
    {% if playlist.description or playlist.image %}
        <div>
            <h2>About</h2>
            {% if playlist.image %}
                <img src="{{ playlist.image.url }}" alt="" style="max-width: 50%; margin: 1em 0">
            {% endif %} 
            {{ playlist.description|linebreaks }}
            {% if playlist.artist %}
                <p>Performed by {{ playlist.artist }}</p>
            {% endif %} 
        </div>
    {% endif %}
    <div>
    <h2>Tracks</h2>
    <table style="min-width: 100%">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                ISRC
            </th>
            <th>
                Recording Artist
            </th>
            <th>
                Record Label
            </th>
            <th>
                Writer(s)
            </th>
            <th>
                Audio
            </th>
        </tr>
    </thead>
    <tbody>
    {% for track in playlist.tracks.all %}
        {% with track.recording as rec %}
            <tr>
                <td>
                    <p>{{ rec.title }}</p>
                </td>
                <td>
                    <p>{{ rec.isrc|default_if_none:'' }}</p>
                </td>
                <td>
                    <p>{{ rec.artist|default_if_none:'' }}</p>
                    {% if rec.artist.description %}<p>{{ rec.artist.description|linebreaksbr }}</p>{% endif %} 
                </td>
                <td>
                    <p>{{ rec.record_label|default_if_none:'' }}</p>
                    {% if rec.record_label.description %}<p>{{ rec.record_label.description|linebreaksbr }}</p>{% endif %} 
                </td>
                <td>
                    <p>{{ rec.work.writer_last_names }}</p>
                </td>
                <td>
                    {% if rec.audio_file %}<audio controls><source src="{{ rec.audio_file.url }}"></audio>{% endif %}
                </td>
            </tr>
        {% endwith %}
    {% endfor %}
    </tbody>
    </table>
    </div>
    <div>
        <h2>Details</h2>
        <p>Datailed information is available via <a href="{{ playlist.secret_api_url }}" target="_blank">REST API</a>.</p>
    </div>
{% endblock %}

