Django>=3.2.12,<4.0
boto3==1.20.46
dj_database_url==0.5.0
django-cleanup==6.0.0
djangorestframework==3.13.1
django-storages==1.12.3
music-metadata-territories==21.2
Markdown==3.3.6
Pillow==9.0.0
psycopg2-binary==2.9.3
waitress==2.0.0
whitenoise==5.3.0
