certifi==2018.4.16
chardet==3.0.4
coverage==4.5.1
coveralls==1.3.0
Django>=2.1.4
dj_database_url
idna==2.7
psycopg2-binary
pytz==2018.5
requests==2.20.0
requests-toolbelt==0.8.0
Sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
tqdm==4.23.4
urllib3==1.23
waitress
whitenoise
