Django>=2.2.8
certifi
chardet
coverage
coveralls
dj_database_url
idna
psycopg2-binary
pytz
requests
requests-toolbelt
Sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
tqdm
urllib3
waitress
whitenoise
