{% extends "admin/base_site.html" %}
{% block title %}{{ title }}{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <style>
      .cwr {overflow: auto; font-family: monospace;}
      .cwr pre {line-height: 1.3em; margin: 0}

      .cwr div.HDR span.record_type,
      .cwr div.TRL span.record_type {color: #909; margin: 0 1em 0 0}
      .cwr div.GRH span.record_type,
      .cwr div.GRT span.record_type {color: #900; margin: 0 1em 0 0}
      .cwr div.WRK span.record_type,
      .cwr div.NWR span.record_type,
      .cwr div.REV span.record_type {color: #060; margin: 0 .7em 0 .3em}
      .cwr div.SPU span.record_type,
      .cwr div.SWR span.record_type,
      .cwr div.OPU span.record_type,
      .cwr div.OWR span.record_type {color: #006; margin: 0 .4em 0 .6em}
      .cwr div.SPT span.record_type,
      .cwr div.SWT span.record_type,
      .cwr div.PWR span.record_type,
      .cwr div.OPT span.record_type,
      .cwr div.OWT span.record_type {color: #33C; margin: 0 .1em 0 .9em}
      .cwr div span.record_type {color: #666;; margin: 0 .4em 0 .6em}
      .cwr div.WRK,
      .cwr div.NWR,
      .cwr div.REV,
      .cwr div.GRT {margin-top:0.4em}

    </style>

{% endblock %}
{% block content %}
<div class="module">
    <div class="readonly cwr">
        {% for line in lines %}<div class="{{ line|slice:'0:3' }}"><pre><span class="record_type">{{ line|slice:'0:3' }}</span>{{ line|slice:'3:' }}</pre></div>{% endfor %}
    </div>
</div>
{% endblock %}

