{% extends "admin/base_site.html" %}
{% block breadcrumbs %}{% endblock %}
{% block extrahead %}{{ block.super }}{% endblock %}
{% block title %}Playlist: {{ playlist.release_title }}{% endblock %}

{% block branding %}
<h1 id="site-name">Playlist: {{ playlist.release_title }}</h1>
{% endblock %}

{% block content %}
    {{ playlist.description|linebreaks }}
    {% for track in playlist.tracks.all %}
        {% with track.recording as rec %}
            {{ rec }}: {% if rec.audio_file %}<audio controls><source src="{{ rec.audio_file.url }}"></audio>{% endif %}<br/> 
        {% endwith %}
    {% endfor %}
    
{% endblock %}