{% extends "admin/base_site.html" %}
{% block breadcrumbs %}{% endblock %}
{% block empoweredby %}{% endblock %}
{% block extrahead %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>{{ playlist.release_title }}</h1>
    {{ playlist.description|linebreaks }}
    
    {% for track in playlist.tracks.all %}
        {% with track.recording as rec %}
            {{ rec }}: {% if rec.audio_file %}<audio controls><source src="{{ rec.audio_file.url }}"></audio>{% endif %}<br/> 
        {% endwith %}
    {% endfor %}
    
{% endblock %}