{% extends 'admin/change_form.html' %}{% load i18n cwr_filters %}
{% block field_sets %}
    {{ block.super }}
    {% if original %}
        <div class="module aligned overview">
            <h2>Share Overview</h2>
            <table>
                <thead>
                <tr>
                    <th rowspan="2">Writer</th>
                    <th rowspan="2">Writer role</th>
                    <th colspan="3">Writer&nbsp;Shares</th>
                    <th rowspan="2">Original Publisher</th>
                    <th colspan="3">Publisher&nbsp;Shares</th>
                </tr>
                <tr>
                    <th>Perf.</th>
                    <th>Mech.</th>
                    <th>Sync.</th>
                    <th>Perf.</th>
                    <th>Mech.</th>
                    <th>Sync.</th>
                </tr>
                </thead>
                <tbody>
                {% for wiw in original.writerinwork_set.all %}
                    {% with wiw.get_dict as d %}
                        <tr>
                            <td>
                                {% if wiw.writer %}
                                    {{ wiw }}
                                {% else %}
                                    &lt;Unknown writer&gt;
                                {% endif %}
                            </td>
                            <td>
                                {% if d.writer_role %}
                                    {{ d.writer_role.verbose_value }}
                                {% else %}
                                    &lt;Unknown role&gt;
                                {% endif %}
                            </td>
                            <td>
                                {{ d.relative_share|prw|cwrshare|perc }}
                            </td>
                            <td>
                                {{ d.relative_share|mrw|cwrshare|perc }}
                            </td>
                            <td>
                                {{ d.relative_share|srw|cwrshare|perc }}
                            </td>
                            <td>
                                {% if d.publishers_for_writer.0 %}
                                    {{ d.publishers_for_writer.0.publisher.name }}
                                {% else %}
                                    &lt;Other publisher&gt;
                                {% endif %}
                            </td>
                            <td>
                                {{ d.relative_share|prp|cwrshare|perc }}
                            </td>
                            <td>
                                {{ d.relative_share|mrp|cwrshare|perc }}
                            </td>
                            <td>
                                {{ d.relative_share|srp|cwrshare|perc }}
                            </td>
                        </tr>
                    {% endwith %}{% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
